<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    <!-- <link rel="stylesheet" href="style2.css">
     -->
     <link rel="stylesheet" href="./static/style2.css">
    <title>Committee Page</title>
</head>
<body>
    <h1 style="color: rgb(209, 212, 209); font-size: 30px; padding-left: 370px;">Integrated Student Hostel Application</h1>
    <div class="grid-2">
        <div class="section-1">
            <!-- <img src="C:\Users\CHICKY\Desktop\Harsh Website\assets\images\GBU LOGO.jpg" alt="Logo Description" width="200" height="170">
             -->
            <img src="{{ url_for('static', filename ='images/GBU_Logo.jpg')}}" alt="Toy logo">
            <h2>Gautam Buddha University Hostel</h2>
            <h2>Caretakers</h2>
            
        </div>
        <div class="section-2">
            <h2>Assistent Warden</h2>
            <p>Name: Mrs. Komal</p>
            <p>Phone No: 9658745236</p>
            <p>Shift: 9am-5pm</p>

            <h2>Caretaker 1</h2>
            <p>Name: Meenakshi</p>
            <p>Phone No: 7856942589</p>
            <p>Shift: 9am-9pm</p>

            
            <h2>Caretaker 2</h2>
            <p>Name: Shivani</p>
            <p>Phone No: 6542589756</p>
            <p>Shift: 9pm-9am</p>
            
            <h2>Caretaker 3</h2>
            <p>Name: Hemlata</p>
            <p>Phone No: 9856471256</p>
            <p>Shift: 8am-8pm</p>
        </div>
    </div>
</body>
</html>