<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    <!-- <link rel="stylesheet" href="style2.css">
     -->
     <link rel="stylesheet" href="./static/style2.css">
    <title>Committee Page</title>
</head>
<body>
    <div class="grid-2">
        <div class="section-1">
            <!-- <img src="C:\Users\CHICKY\Desktop\Harsh Website\assets\images\GBU LOGO.jpg" alt="Logo Description" width="200" height="170">
             -->
            <img src="{{ url_for('static', filename ='images/GBU_Logo.jpg')}}" alt="Toy logo">
            <h2>Gautam Buddha University Hostel</h2>
            <h2>Committees</h2>
            
        </div>
        <div class="section-2">
            <h2>Mess Committee</h2>
            <p>1. Harsh   20/BCS/025   9873667020</p>
            <p>2. Rahul   20/BCS/069   9658751236</p>
            <p>3. Neetu   20/BCS/056   8547963256</p>

            <h2>Cultural Committee</h2>
            <p>1. Kirti   20/BCS/029   8700428217</p>
            <p>2. Mehak   20/BCS/045   7545569855</p>
            <p>3. Saloni  20/BCS/052   8954771122</p>

            
            <h2>Sports Committee</h2>
            <p>1. Akash   20/BIT/055   2596844565</p>
            <p>2. Ayan    20/BCS/012   8545669952</p>
            <p>3. Kian    20/ICS/029   6599874512</p>
            
            <h2>Discipline Committee</h2>
            <p>1. Pihu    20/UCF/036    6985441123</p>
            <p>2. Rehan   20/UEC/027    9655225315</p>
            <p>3. Jiya    20/BCS/060    8547662351</p>
        </div>
    </div>
</body>
</html>
