<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./style/style.css" type="text/css"/>
    <link rel="icon" href="./img/icon.jpg" sizes="32x32" />
    <link rel="icon" href="./img/icon.jpg" sizes="192x192" />
    <link rel="apple-touch-icon-precomposed" href="./img/icon.jpg" />
    <meta name="msapplication-TileImage" content="./img/icon.jpg" />
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="./static/style3.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <title>Teacher landing | Warden</title>
</head>
<body>
    <div class="hero_section">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-ms-12 col-xs-12">
                    <h2>Hostel Warden</h2>
                    <h1>Aarti Gautam Dinker</h1>
                    <h2>Assistent Professor</h2>
                    <p>As the dedicated hostel warden, She is committed to fostering a safe, supportive, and 
                        inclusive environment for all residents. With a passion for community building and
                         student welfare, she strives to ensure a harmonious living experience while promoting 
                         a culture of mutual respect and responsibility. Through effective communication and 
                         a proactive approach, she aims to address concerns promptly, organize engaging activities, and
                          cultivate a vibrant living space where every individual feels valued and empowered.</p>
                    <div class="btn_container">
                        <a href="./portfolio/index.html"><button class="btn btn-light animate__animated">Contact</button></a>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-ms-12 col-xs-12">
                    <center>
                        <img src="{{ url_for('static', filename ='images/Teacher.jpg')}}" alt="Warden Image">
                    </center>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
                                                          
